{% extends 'mercado/base.html' %}

{% block content %}
<h1>Novo Item de Pedido</h1>
<form method="POST">
    {% csrf_token %}
    <label for="pedido">Pedido:</label>
    <select id="pedido" name="pedido">
        {% for pedido in pedidos %}
        <option value="{{ pedido.id }}">Pedido {{ pedido.id }}</option>
        {% endfor %}
    </select>
    
    <label for="produto">Produto:</label>
    <select id="produto" name="produto">
        {% for produto in produtos %}
        <option value="{{ produto.id }}">{{ produto.nome }}</option>
        {% endfor %}
    </select>
    
    <label for="quantidade">Quantidade:</label>
    <input type="number" id="quantidade" name="quantidade" required>
    
    <button type="submit">Salvar</button>
</form>
{% endblock %}
