{% extends 'mercado/base.html' %}

{% block content %}
<h1>Produtos</h1>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.nome }}</td>
            <td>R$ {{ produto.preco }}</td>
            <td>{{ produto.estoque }}</td>
            <td>{{ produto.categoria.nome }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'produto_create' %}">Adicionar Produto</a>
{% endblock %}
